html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.font-oswald {
    font-family: 'Oswald', sans-serif !important;
}

.bg-climbing {
    background-image: url('https://i.ibb.co/25r1qMJ/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-wrapper {
    min-height: 100vh;
    position: relative;
    z-index: 1;
}
.navbar {
    transition: all 0.3s ease;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(158, 165, 210, 0);
    backdrop-filter: blur(0px);
    transition: all 0.5s ease;
    z-index: -1;
}

.navbar.scrolled::before {
    background-color: rgba(205, 205, 205, 0.15);
    backdrop-filter: blur(10px);
}

.navbar.scrolled {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

.nav-link,
.navbar-nav .dropdown-toggle {
  color: rgb(195, 0, 23) !important;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
}

.navbar-brand {
  color: rgb(195, 0, 23) !important;
  font-weight: bold;
  font-size: 2rem;
}

.nav-link_active {
  color: rgb(195, 0, 23) !important;
  font-size: 2rem;
}

.navbar-nav .nav-link::before,
.navbar-nav .dropdown-toggle::before {
   content: '';
   position: absolute;
   width: 0;
   height: 4px;
   bottom: 8px;
   left: 50%;
   background-color: rgb(195, 0, 23);
   transition: all 0.4s ease;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .dropdown-toggle:hover::before {
   width: calc(100% - 20px);
   left: 10px;
}

.dropdown-toggle.no-caret::after {
  display: none;
}

.card:hover {
  border-color: rgba(195, 0, 23, 0.8);
  box-shadow: 0px 0px 10px 2px rgba(195, 0, 23, 0.6);
}

.card{
  transition: border-color 1s, box-shadow 0.6s;
}

.mainbox{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35)
}

.map {
  border-radius: 0.375rem;
  overflow: hidden;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-link {
    color: rgb(205, 205, 205);
    text-decoration: none;
    transition: color 0.5s ease;
}

.footer-link:hover {
    color: rgb(195, 0, 23);
}