<div id="contact" class="class container-fluid lastbox" style="background-color: rgba(227, 184, 214, 0.8)">
    <div class="container-lg py-4">

        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 100%;">

            </colgroup>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;KONTAKT&nbsp;</b></span></th>
            </tr>
        </table>


        <div class="col-12 my-4">
            <div class="card" style="background: transparent; border:none">
                <div class="card-body" style="color: rgb(195, 0, 23)">

                    <table class="table fs-3 table-layout: fixed; width: 100%;">
                        <colgroup>
                            <col style="width: 15%;">
                            <col style="width: 85%;">

                        </colgroup>
                        <tr>
                            <th scope="col"
                                style="color: rgb(195, 0, 23); background: transparent; border: none">
                                Adresse:
                            </th>
                            <td scope="col"
                                style="color: rgb(195, 0, 23); background: transparent; border: none">
                                Eulerstraße 2,
                                48151 Münster
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"
                                style="color: rgb(195, 0, 23); background: transparent; border: none">
                                Telefon:
                            </th>
                            <td style="color: rgb(195, 0, 23); background: transparent; border: none">
                                <a class="contact-link" href="tel:+4925174747655">+49 (0)251 - 74 74 76 55</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"
                                style="color: rgb(195, 0, 23); background: transparent; border: none">Mail:
                            </th>
                            <td style="color: rgb(195, 0, 23); background: transparent; border: none">
                                <a class="contact-link" href="mailto:info@monolith-boulderhalle.de">info@monolith-boulderhalle.de</a>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        <div class="card" style="background: transparent; border:none">
            <div class="card-body ratio ratio-16x9 opacity-75">
                <iframe allowfullscreen=""
                        class="map"
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4919.587413783455!2d7.640179077582587!3d51.93771627917553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b9a4d4277f196b%3A0x32145988f70ed1c2!2sMonolith%20Boulderhalle%20M%C3%BCnster!5e0!3m2!1sde!2sde!4v1721424560722!5m2!1sde!2sde"
                        width="50%"></iframe>
            </div>
        </div>
    </div>
</div>