<div id="courses" class="class container-fluid mainbox" style="background-color: rgba(161, 200, 196, 0.8)">
    <div class="container-lg py-3">
        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 100%;">

            </colgroup>
            <tr>
                <th scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none">
                    <span class="text-center fs-1"><b>&nbsp;KURSE&nbsp;</b></span></th>
            </tr>
        </table>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Schnupperkurs&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">Für all die, die zum ersten Mal Bouldern oder gerade
                                erst unseren
                                Sport für
                                sich entdeckt haben.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-3"><b>24 € pro Person</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Grundkurs Bouldern&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">Lerne mit Anderen zusammen, über drei Termine, die
                                Grundtechniken
                                des Boulderns.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-3"><b>70 € pro Person</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Indiviuelles Coaching&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">Deine individuelle Trainingsstunde, damit unsere
                                Trainer:innen zu
                                100%
                                auf deine Fragen und Wünsche rund ums Bouldern eingehen können.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-3"><b>65€ zzgl. Tageseintritt</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Next-Level "Rot zu Blau"&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">Hier bekommst du Tipps und Tricks, um den Sprung vom
                                Level 3
                                (Rot) auf Level 4 (Blau) zu meistern.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-3"><b>150 € pro Person</b></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Next-Level "Blau zu Gelb"&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">Hier bekommst du Tipps und Tricks, um den Sprung vom
                                Level 4
                                (Blau) auf Level 5 (Gelb) zu meistern.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-3"><b>150 € pro Person</b></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Sommer-Bouldercamp&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">Einwöchiger Kletterkurs für Kinder von 6 bis 12
                                Jahren.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-3"><b>125 € pro Kind</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>