{% load static %}
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MONOLITH - Boulderhalle Münster</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS Bundle -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="font-oswald bg-climbing" style="padding-top: 80px;">
<div class="container fs-2">
    <nav class="navbar navbar-expand-lg fixed-top fs-2">
        <div class="container fs-2">
            <a class="navbar-brand" href="#">
                MONOLITH
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon align-top"></span>
            </button>

            <div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#time&prices">Zeiten & Preise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#courses">Kurse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#voucher">Gutscheine</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Kontakt</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle no-caret" href="#" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Infos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Erster Besuch</a></li>
                                <li><a class="dropdown-item" href="#">Gutscheine</a></li>
                                <li><a class="dropdown-item" href="#">Crashpads</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>


<div class="class container-fluid h-100 position-relative" style="background-color: transparent">
    <div class="container-lg position-absolute top-50 start-50 translate-middle" style="padding-top: 5px;">
        <p class="align-middle text-center fs-1" style="color: rgb(205, 205, 205)"><b>WILLKOMMEN IN DER MONOLITH<br>WELCOME
            TO MONOLITH<br>BIENVENUE AU MONOLITH<br>WELKOM BIJ DE MONOLITH<br>BIENVENIDO AL MONOLITH<br>BENVENUTO NEL
            MONOLITH<br>مرحباً بك في ”لمونوليث<br>欢迎来到 巨石<br></b></p>
    </div>
</div>


<div id="time&prices" class="class container-fluid" style="background-color: rgba(158, 165, 210, 0.8)">
    <div class="container-lg" style="padding-top: 30px;">
        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 35%;">
                <col style="width: 65%;">

            </colgroup>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;ÖFFNUNGSZEITEN&nbsp;</b></span></th>
            </tr>
            <tr>
                <th scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none">Montag bis
                    Freitag
                </th>
                <td scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none">10 bis 23 Uhr
                </td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">Samstag, Sonntag &
                    an Feiertagen
                </th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">10 bis 22 Uhr</td>
            </tr>
        </table>

        <!--<p class="text-center font-bold fs-1" style="color: rgb(195, 0, 23)">Preise</p>-->
        <span> </span><br>
        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 32%;">
                <col style="width: 17%;">
                <col style="width: 17%;">
                <col style="width: 17%;">
                <col style="width: 17%;">
            </colgroup>
            <thead>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;EINTRITTE&nbsp;</b></span></th>
            </tr>
            <tr>
                <th scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none"></th>
                <th scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none">Erwachsene</th>
                <th scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none">Ermäßigt<sup>
                    1</sup></th>
                <th scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none">Kinder<sup>
                    2</sup></th>
                <th scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none">Familien<sup>
                    3</sup></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">Tageskarte</th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">11,50 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">10 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">7 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">28 €</td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">
                    Tageskarte-EarlyBird<sup> 4</sup></th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">10 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">8 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">5 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">25 €</td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">11er-Karte<sup>
                    5</sup></th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">115 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">100 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">70 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">280 €</td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">3-Monatskarte</th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">189 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">169 €</td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">1-Monatsabo<sup>
                    6</sup></th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">70 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">64 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">36 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">150 €</td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">12-Monatsabo<sup>
                    6</sup></th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">49 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">44 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">28 €</td>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">100 €</td>
            </tr>
            <tr>
                <th scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none"></th>
            </tr>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;VERLEIH&nbsp;</b></span></th>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">Chalk</th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">2 €</td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">Schuhe</th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">3,50 €</td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">Crashpad<sup>
                    7</sup></th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">8 €</td>
            </tr>
            </tbody>
        </table>

        <span style="color: rgb(195, 0, 23)"><sup> 1</sup> Schüler ab 12 Jahre; Azubildende; Studierende; BfDler; Angehörige der Bundeswehr, Polizei & Feuerwehr; Erwerbslose; Menschen mit Behinderung; Senioren ab 60 Jahre. Nur in Verbindung mit gültigem Nachweis!</span><br>
        <span style="color: rgb(195, 0, 23)"><sup> 2</sup> Kinder von 4 bis 11 Jahren. Kinder bis 3 Jahre zahlen keinen Eintritt.</span><br>
        <span style="color: rgb(195, 0, 23)"><sup> 3</sup> Eltern mit eigenen Kindern.</span><br>
        <span style="color: rgb(195, 0, 23)"><sup> 4</sup> Preise gelten werktags (außer Samstags) von 10 bis 13 Uhr.</span><br>
        <span style="color: rgb(195, 0, 23)"><sup> 5</sup> 11 Eintritte für den Preis von 10.</span><br>
        <span style="color: rgb(195, 0, 23)"><sup> 6</sup> Preis pro Monat.</span><br>
        <span style="color: rgb(195, 0, 23)"><sup> 7</sup> Preis pro Tag.</span><br>
        <span> </span><br>
    </div>
</div>

<div id ="courses" class="class container-fluid" style="background-color: rgba(227, 184, 214, 0.8)">
    <div class="container-lg my-5" style="padding-top: 30px; padding-bottom: 20px">
        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 100%;">

            </colgroup>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;KURSE&nbsp;</b></span></th>
            </tr>
        </table>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Schnupperkurs&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-4">Für all die, die zum ersten Mal Bouldern oder gerade erst unseren
                                Sport für
                                sich entdeckt haben.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer" style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-4"><b>24 € pro Person</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Grundkurs Bouldern&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-4">Lerne mit Anderen zusammen, über drei Termine, die Grundtechniken
                                des Boulderns.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer" style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-4"><b>70 € pro Person</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Indiviuelles Coaching&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-4">Deine individuelle Trainingsstunde, damit unsere Trainer:innen zu
                                100%
                                auf deine Fragen und Wünsche rund ums Bouldern eingehen können.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-4"><b>65€ zzgl. Tageseintritt</b></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4 gy-4">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Next-Level "Rot zu Blau"&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-4">Hier bekommst du Tipps und Tricks, um den Sprung vom Level 3
                                (Rot) auf Level 4 (Blau) zu meistern.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-4"><b>150 € pro Person</b></p>
                        </div>
                    </div>
                </div>

                <div class="col-4 gy-4">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Next-Level "Blau zu Rot"&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-4">Hier bekommst du Tipps und Tricks, um den Sprung vom Level 4
                                (Blau) auf Level 5 (Gelb) zu meistern.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-4"><b>150 € pro Person</b></p>
                        </div>
                    </div>
                </div>

                <div class="col-4 gy-4">
                    <div class="card h-100" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Sommer-Bouldercamp&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-4">Einwöchiger Kletterkurs für Kinder von 6 bis 12 Jahren.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card-footer"
                             style="background: transparent; border:none; color: rgb(195, 0, 23)">
                            <p class="card-text fs-4"><b>125 € pro Kind</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="voucher" class="class container-fluid" style="background-color: rgba(161, 200, 196, 0.8)">
    <div class="container-lg my-5" style="padding-top: 30px; padding-bottom: 20px">
        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 100%;">

            </colgroup>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;GUTSCHEINE&nbsp;</b></span></th>
            </tr>
        </table>
    </div>
</div>

<div id="contact" class="class container-fluid" style="background-color: rgba(158, 165, 210, 0.8)">
    <div class="container-lg my-5" style="padding-top: 30px; padding-bottom: 20px">
        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 15%;">
                <col style="width: 85%;">

            </colgroup>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;KONTAKT&nbsp;</b></span></th>
            </tr>
            <tr>
                <th scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none">Adresse:
                </th>
                <td scope="col" style="color: rgb(195, 0, 23); background: transparent; border: none">
                    Eulerstraße 2,
                    48151 Münster
                </td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">Telefon:
                </th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">+49 (0)251 -
                    74747655
                </td>
            </tr>
            <tr>
                <th scope="row" style="color: rgb(195, 0, 23); background: transparent; border: none">Mail:
                </th>
                <td style="color: rgb(195, 0, 23); background: transparent; border: none">
                    info@monolith-boulderhalle.de
                </td>
            </tr>
        </table>

        <div class="card" style="background: transparent; border:none">
            <div class="card-body ratio ratio-16x9 opacity-78">
                <iframe allowfullscreen=""
                        class="map"
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4919.587413783455!2d7.640179077582587!3d51.93771627917553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b9a4d4277f196b%3A0x32145988f70ed1c2!2sMonolith%20Boulderhalle%20M%C3%BCnster!5e0!3m2!1sde!2sde!4v1721424560722!5m2!1sde!2sde"
                        width="50%"></iframe>
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });

    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        // Add scroll event listener
        window.addEventListener('scroll', function() {
            var navbar = document.querySelector('.navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
    });
</script>

</body>
</html>


