<div id="infos" class="class container-fluid mainbox" style="background-color: rgba(227, 184, 214, 0.8)">
    <div class="container-lg py-4">

        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 100%;">

            </colgroup>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;INFOS&nbsp;</b></span></th>
            </tr>
        </table>


        <div class="col-12 my-3">
            <div class="card" style="background: transparent; border:none">
                <div class="card-body" style="color: rgb(195, 0, 23)">
                    <table>
                        <tr>
                            <th scope="col"
                                style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                    class="bg-dark text-center fs-2"><b>&nbsp;Erster Besuch&nbsp;</b></span>
                            </th>
                        </tr>
                    </table>
                    <p class="card-text fs-3">Komm einfach vorbei! Da beim Bouldern keine besondere
                        Ausrüstung, sei es
                        Klettergurt, Seil oder Sicherungsgerät, erforderlich ist, reichen schon bequeme
                        Sportklamotten
                        und ein
                        sauberes Paar Turnschuhe für deinen ersten Besuch aus. Solltest du jedoch das
                        Bouldern mit
                        Kletternschuhen ausprobieren wollen, kannst du dir bei uns auch passende Schuhe
                        leihen.<br><br>
                        <b>Solltest du noch nicht volljährig sein, beachte bitte die nachfolgenden Hinweise!</b>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 my-3">
            <div class="card" style="background: transparent; border:none">
                <div class="card-body" style="color: rgb(195, 0, 23)">
                    <table>
                        <tr>
                            <th scope="col"
                                style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                    class="bg-dark text-center fs-2"><b>&nbsp;Kinder unter 14 Jahren&nbsp;</b></span>
                            </th>
                        </tr>
                    </table>
                    <p class="card-text fs-3">Unter 14-jährige Kinder dürfen bei uns nur mit einer
                        volljährigen
                        Begleitperson
                        bouldern gehen, Vorraussetzung ist das Vorliegen des Einverständnis einer
                        erziehungsberechtigen
                        Person. Der Betreuungsschlüssel liegt hier bei 1:1 <b>(eine volljährige Person darf
                            maximal
                            ein unter 14-jähriges Kind beaufsichtigen!)</b></p>
                </div>
            </div>
        </div>

        <div class="col-12 my-3">
            <div class="card" style="background: transparent; border:none">
                <div class="card-body" style="color: rgb(195, 0, 23)">
                    <table>
                        <tr>
                            <th scope="col"
                                style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                    class="bg-dark text-center fs-2"><b>&nbsp;Jugendliche unter 18 Jahren&nbsp;</b></span>
                            </th>
                        </tr>
                    </table>
                    <p class="card-text fs-3"><b>Bei Vorliegen eines schriftlichen Einverständnises einer
                        erziehungsberechtigen Person</b>, können Minderjährige ab 14 Jahren ohne die
                        Begleitung einer
                        volljährigen Person zum Bouldern kommen.</p>
                </div>
            </div>
        </div>

        <div class="col-12 my-3">
            <div class="card" style="background: transparent; border:none">
                <div class="card-body" style="color: rgb(195, 0, 23)">
                    <table>
                        <tr>
                            <th scope="col"
                                style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                    class="bg-dark text-center fs-2"><b>&nbsp;Crashpad-Verleih&nbsp;</b></span>
                            </th>
                        </tr>
                    </table>
                    <p class="card-text fs-3">Du hast Lust auf das Bouldern draußen am Fels, willst dir aber
                        kein
                        eigenes
                        Crashpad kaufen? Für genau solche Gelegenheiten kannst du dir bei uns vor Ort
                        Crashpads leihen.
                        Kläre vorher am besten telefonisch ab, ob im gewünschten Zeitraum Crashpads zum
                        Leihen zur
                        Verfügung stehen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>