<div id="time-and-prices" class="class container-fluid mainbox" style="background-color: rgba(158, 165, 210, 0.8)">
    <div class="container-lg py-4">

        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 100%;">

            </colgroup>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;ZEITEN &#38; PREISE&nbsp;</b></span></th>
            </tr>
        </table>

        <div class="container">
            <table>
                <tr>
                    <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                        <span class="bg-dark text-center fs-2"><b>&nbsp;Öffnungszeiten&nbsp;</b></span></th>
                </tr>
            </table>

            <div class="row">
                <div class="col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Montag bis Freitag&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>10 bis 23 Uhr</b>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table>
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Samstags, Sonntags & an Feiertagen&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>10 bis 22 Uhr</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <table>
                <tr>
                    <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                        <span class="bg-dark text-center fs-2"><b>&nbsp;Eintritte&nbsp;</b></span></th>
                </tr>
            </table>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 my-3">


                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Tageskarte&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>11,50 €</b><br>
                                Ermäßigt<sup>1</sup> 10 €<br>
                                Kinder<sup>2</sup> 6 €<br>
                                Familien<sup>3</sup> 28 €<br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Tageskarte-EarlyBird<sup> 4</sup>&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>9,50 €</b><br>
                                Ermäßigt<sup>1</sup> 8 €<br>
                                Kinder<sup>2</sup> 5 €<br>
                                Familien<sup>3</sup> 26 €<br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;11er-Karte<sup> 5</sup>&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>115 €</b><br>
                                Ermäßigt<sup>1</sup> 100 €<br>
                                Kinder<sup>2</sup> 60 €<br>
                                Familien<sup>3</sup> 280 €<br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;3-Monatskarte&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>189 €</b><br>
                                Ermäßigt<sup>1</sup> 169 €<br>
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;1-Monatsabo<sup> 6</sup>&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>70 €</b><br>
                                Ermäßigt 64 €<br>
                                Kinder 36 €<br>
                                Familien 150 €<br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;12-Monatsabo<sup> 6</sup>&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>49 €</b><br>
                                Ermäßigt<sup>1</sup> 44 €<br>
                                Kinder<sup>2</sup> 28 €<br>
                                Familien<sup>3</sup> 100 €<br>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div>
            <div>
                <span style="color: rgb(195, 0, 23)"><sup> 1</sup> Schüler ab 12 Jahre; Azubildende; Studierende; BfDler; Angehörige der Bundeswehr, Polizei & Feuerwehr; Erwerbslose; Menschen mit Behinderung; Senioren ab 60 Jahre. Nur in Verbindung mit gültigem Nachweis!</span>
                <span style="color: rgb(195, 0, 23)"><sup> 2</sup> Kinder von 4 bis 11 Jahren. Kinder bis 3 Jahre zahlen keinen Eintritt.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 3</sup> Eltern mit eigenen Kindern.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 4</sup> Preise gelten werktags (außer Samstags) von 10 bis 13 Uhr.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 5</sup> 11 Eintritte für den Preis von 10.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 6</sup> Preis pro Monat.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 7</sup> Preis pro Tag.</span>
            </div>
        </div>

    </div>
</div>