<div id="time-and-prices" class="class container-fluid mainbox" style="background-color: rgba(158, 165, 210, 0.8)">
    <div class="container-lg py-4">


        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Tageskarte&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>11,50 €</b><br>
                                Ermäßigt 10 €<br>
                                Kinder 6 €<br>
                                Familien 28 €<br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;Tageskarte-EarlyBird&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>9,50 €</b><br>
                                Ermäßigt 8 €<br>
                                Kinder 5 €<br>
                                Familien 26 €<br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;11er-Karte&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>115 €</b><br>
                                Ermäßigt 100 €<br>
                                Kinder 60 €<br>
                                Familien 280 €<br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;3-Monatskarte&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>189 €</b><br>
                                Ermäßigt 169 €<br>
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;1-Monatsabo&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>70 €</b><br>
                                Ermäßigt 64 €<br>
                                Kinder 36 €<br>
                                Familien 150 €<br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card" style="background: transparent; border:none">
                        <div class="card-body" style="color: rgb(195, 0, 23)">
                            <table style="white-space: nowrap;">
                                <tr>
                                    <th scope="col"
                                        style="color: rgb(209, 209, 209); background: transparent; border: none"><span
                                            class="bg-dark text-center fs-2"><b>&nbsp;12-Monatsabo&nbsp;</b></span>
                                    </th>
                                </tr>
                            </table>
                            <p class="card-text fs-3">
                                <b>49 €</b><br>
                                Ermäßigt 44 €<br>
                                Kinder 28 €<br>
                                Familien 100 €<br>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div>
            <div>
                <span style="color: rgb(195, 0, 23)"><sup> 1</sup> Schüler ab 12 Jahre; Azubildende; Studierende; BfDler; Angehörige der Bundeswehr, Polizei & Feuerwehr; Erwerbslose; Menschen mit Behinderung; Senioren ab 60 Jahre. Nur in Verbindung mit gültigem Nachweis!</span>
                <span style="color: rgb(195, 0, 23)"><sup> 2</sup> Kinder von 4 bis 11 Jahren. Kinder bis 3 Jahre zahlen keinen Eintritt.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 3</sup> Eltern mit eigenen Kindern.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 4</sup> Preise gelten werktags (außer Samstags) von 10 bis 13 Uhr.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 5</sup> 11 Eintritte für den Preis von 10.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 6</sup> Preis pro Monat.</span>
                <span style="color: rgb(195, 0, 23)"><sup> 7</sup> Preis pro Tag.</span>
            </div>
        </div>

    </div>
</div>