<div id="voucher" class="class container-fluid mainbox" style="background-color: rgba(158, 165, 210, 0.8)">
    <div class="container-lg py-4">
        <table class="table fs-3 table-layout: fixed; width: 100%;">
            <colgroup>
                <col style="width: 100%;">

            </colgroup>
            <tr>
                <th scope="col" style="color: rgb(209, 209, 209); background: transparent; border: none">
                    <span class="bg-dark text-center fs-1"><b>&nbsp;GUTSCHEINE&nbsp;</b></span></th>
            </tr>
        </table>

        <div class="card" style="background: transparent; border:none">
            <div class="card-body opacity-75">
                {% include 'voucher-widget.html' %}
            </div>
        </div>
    </div>
</div>