<div id="welcome" class="class container-fluid h-100 position-relative" style="background-color: transparent">
    <div class="container-lg position-absolute top-50 start-50 translate-middle" style="padding-top: 5px;">
        <p class="align-middle text-center fs-1" style="color: rgb(205, 205, 205)"><b>WILLKOMMEN IN DER MONOLITH<br>WELCOME
            TO MONOLITH<br>BIENVENUE AU MONOLITH<br>WELKOM BIJ DE MONOLITH<br>BIENVENIDO AL MONOLITH<br>BENVENUTO NEL
            MONOLITH<br>Ласкаво просимо до Моноліту<br>Καλώς ήρθατε στον Μονόλιθο<br>مرحباً بك في ”لمونوليث<br>欢迎来到
            巨石<br>モノリスへようこそ</b></p>
    </div>
</div>